.account {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 60px);
  margin: 60px 0 0 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  backdrop-filter: blur(70px);
  transform: translate3d(100%, 0, 0);
  transition: transform 0.4s ease-in-out;
  overflow: auto;
  &_active {
    transform: translate3d(0, 0, 0);
  }
  &_details {
    padding: 20px;
    max-width: 800px;
  }

  &_title {
    font-size: 3rem;
    margin: 0 0 2rem 0;
  }

  &_watch-list {
   display: grid;
   grid-template-columns: 240px 240px 240px;
   gap: 20px 0px;
 

  }

  &_watch-video {
    position: relative;
    width: 200px;
    height: 200px;
    // margin: 0 20px 0 0;
    // &:nth-last-child(1) {
    //   margin-right: 0;
    // }

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
  }

  &_watch-overlay {
    position: absolute;
    background: linear-gradient(
      328deg,
      rgba(94, 158, 255, 1) 0%,
      rgba(119, 30, 135, 1) 100%,
      rgba(60, 38, 184, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    &:hover {
        opacity: .9;
    }
  }


  &_watch-buttons {
    display: flex;
    cursor: pointer;

  }

  &_watch-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:nth-child(1){
        margin-right: 10px;
    }
  }


  &_menu{
    background: #000;
    width: 300px;
    padding: 20px;
  }

  li {
    opacity: 0;
    transition: opacity .4s ease-in-out;
    a {
        color: rgb(80,80,80);
        font-size: 1.5rem;
        text-decoration: none;
        display: block;
        margin-bottom: 1rem;
        transition: color .2s ease-in-out;
        &.active,&:hover {
            font-weight: 500;
            color: #fff;
        }
    }
  }

  @for $i from 0  through 20 {
    &_active li:nth-child(#{$i + 1}){
        transition-delay: 0.15s * $i ;
        opacity: 1;
    }
  }
}
