


.create-user{
    background: linear-gradient(312deg,  rgba(26,39,103,1) 0%,rgba(48,20,94,1) 45%,
     rgba(0,0,0,1) 100%);
     height: 100vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
     &_top{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 2rem 0 0 0;   
     }
     &_logo{
        background-size: 100% 100%;
        height: 22px;
        width: 129px;
        background-image: url("/images/logo.svg");
        transform: scale(.9);
        margin-bottom: 1rem;
     }

     &_title{
        color: #fff;
        font-size: 2rem;
        font-weight: 300;


     }

     &_form {
        display: flex;
        justify-content: center;
        align-items: center;
     }

    

      &_user-img{
        width: 125px;
        height: 125px;
        border-radius: 50%;
        margin: 0 3rem 1rem 0;
        border: 3px solid rgb(132,0,255);
        object-fit: cover;
        object-position: center;
        cursor: pointer;
       
     }
    //  new
     &_input-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        label {
            font-size: .8rem;
            color: #fff;
            margin: 0 0 1rem 0;
        }
     }
    //  new
     &_inputText {
        border: none;
        border-bottom: 1px solid rgb(132,0,255);
        background: transparent;
        width: 300px;
        padding: 10px 0;
        outline: none;
        margin: 0 0 2rem 0;
        color: #fff;
        font-size: 1.5rem;

     }
    // new
     &_colors
     {
        display: flex;
        justify-content: space-between;
     }
    //  new

     &_color {
        height: 30px; 
        width: 30px;
        border-radius: 50%;
        cursor: pointer;
        transition: transform .4s ease-in-out;
        &-active{
            border: 3px solid #fff;
        }

        &:hover{
            transform: scale(1.5)
        }
     }




     &_buttons {
        margin:  0 0 2rem 0;

     }

     &_cancel , &_save{

        background: rgba(255,255,255, .2);
        border: none;
        border-radius: 20px;
        height: 35px;
        width: 150px;
        text-transform: uppercase;
        font-size: .9rem;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        transition: opacity .3s ease-in-out;


     }
     &_cancel {
        opacity: .4;
        margin: 0  1rem 0 0;
        &:hover {
            opacity: 1;
        }
    &_save {
        opacity: 1;
    }
     }


     
}